#idTableTitle {
    color: red;
    text-align: center;
    margin-top: 1px;
}

div.DTS div.dataTables_scrollBody {
    background: #ffffff;
}

#employee_dt_filter {
    display: none;
}

.dataTables_scrollBody {
    height: auto !important;
    width: 100%;
    max-height: 500px !important;
}